/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: #f3f4f6;
  color: #111827;
  font-family: Inter, Arial, sans-serif;
}

/* ROOT */
#root {
  min-height: 100vh;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 20px;
  justify-content: center;
  justify-items: center;
}
.properties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 20px;
  justify-content: center;
  justify-items: center;
}

/* CENTER */
.center {
  text-align: center;
}