/* CARD */
.card {
width: 100%;
max-width: 320px;
background: white;
border-radius: 18px;
overflow: hidden;
box-shadow: 0 10px 30px rgba(0,0,0,0.06);
transition: transform 0.2s ease, box-shadow 0.2s ease;
display: flex;
flex-direction: column;
}
.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media(max-width: 400px){
  .card {
  width: 100%;
  max-width: 320px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  }
  .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}


.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

img {
  max-width: 100%;
  display: block;
}



/* BOOKING CARD */
.booking-card {
  background: white;
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  transition: 0.2s;
  text-align: center;
}

.booking-card:hover {
  transform: translateY(-3px);
}

/* BOOKINGS GRID */
.bookings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center; /* horizontales Zentrieren */
  justify-items: center;   /* Elemente innerhalb der Spalten zentrieren */
}



/* Navigation */

.filter-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#city-select {
  padding: 5px 10px;
  font-size: 16px;
}