input,
select,
textarea {
  height: 48px;           /* gleiche Höhe wie andere Inputs */
  padding: 0 14px;        /* horizontales Padding */
  border-radius: 12px;
  border: 1px solid #d1d5db;
  font-size: 15px;
  font-weight: 400;

  display: flex;           /* Flexbox */
  align-items: center;     /* vertikal zentrieren */
  justify-content: center; /* horizontal zentrieren */
  text-align: center;
}
/* Speziell für Datum */
input[type="date"] {
  appearance: none;        /* entfernt Standardstyling */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}


input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #2563eb;
}

.form-container {
  width: 100%;
  max-width: 420px;
  margin: 40px auto;
  background: white;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 600;
  color: #222;
}

.form-group input {
  width: 100%;
  max-width: 300px;
}

.hint {
  font-size: 12px;
  color: #777;
  margin-bottom: 5px;
  margin-top: 10px;
}

.lang-select {
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
}